.order-title{
    color:#365A49;
    margin-bottom: 83px;
}

.order-section {
    background:url(../img/form/pattern.png);
position: relative;

&:before{
    content: url(../../img/form/bluberry.png);
    bottom: 50px;
    left: 141px;
    position: absolute;
}


&:after{
    content: url(../../img/form/berryd.png);
    position: absolute;
    right: 0;
    top: -157px;
}
}
