.reviews__display {
  background: #F8FAF9;
  padding: 50px 45px 34px;
  width: 940px;
}

.reviews__display-inner {
  display: flex;
}

.reviews__avatar {
  width: 253px;
  height: 264px;
}

.reviews__avatar-icon {
  object-fit: cover;
  width: 100%;
  height: 100%;
}