
.snack {
    background: url(../img/header/snacks.png) left 90% center no-repeat, 
    url(../img/header/leaf1.png) no-repeat right 3% bottom 29%,
    url(../img/header/berry1.png) no-repeat right 21% top 89% ,
    url(../img/header/ornament.png) right bottom no-repeat;
    
    background-color: $blue;
    height: 100vh;
    min-height: 650px;
    color: #fff;
    position: relative;

}

.snack__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 0 49px 0;
}

.snack__title-section{
    width: 46%;
}

.snack__main-title{
font-size: 48px;
line-height: 1.1;
font-weight: 700;
margin-bottom: 17px;
text-transform: uppercase;

}

.snack__title-desc{
    font-weight:400;
    font-size: 21px;
    margin-bottom: 32px;
    padding-right: 10%;
}